@using System.Web.Optimization

@model List<BusinessManager.Models.MenuDataModel>

@{
    ViewBag.Title = "Menu Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="block">Administracion de Menu</h2>
<div class="column1-unit">
    <table>
        <tr>
            
	<th class="top" scope="col">Name</th>
	<th class="top" scope="col">URL</th>
	 <th class="top">Children</th>            
            <th class="top" scope="col"></th>
        </tr>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    
	<td scope="row">@item.Name</td>
	<td scope="row">@item.URL</td>
	 
	 <td> 
	 @Html.Action("MenuChildrenField", new { id = @item.ID })
	 </td>                
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID })
                        <a class="deleteItem" item="@item.ID" href="#">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
    
</div>
<hr class="clear-contentunit" />

<div class="admin-create">
    @Html.ActionLink("Crear Menu", "Create")
</div>

@section scripts{ 

    @Scripts.Render("~/Scripts/jquery.js")

    <script type="text/javascript">

        $(document).ready(function () {

            $(".deleteItem").on("click", function () {

                if (confirm("Are you sure you want to delete this Menu?")) {

                    var itemID = $(this).attr("item");

                    //Check email and password
                    $.ajax({
                        url: "/Admin/ManageMenu/Delete",
                        dataType: "json",
                        type: "POST",
                        data: { id: itemID },
                        success: function (data) {

                        },
                        error: function (a, b, c) {
                            alert("error deleting");
                        }
                    })
                        .then(function (response) {

                            if (response.success) {
                                alert("Deleted");
                                $("tr[id=" + itemID + "]").html('');
                            }

                        });
                }

            });
        });

    </script>
    
}