@model WebSite.Models.ForeignKeyUIModel

@{
    
    string readOnlyText = "";
    if(Model.ReadOnly)
    {
        readOnlyText = "disabled=\"disabled\"";    
    }    
}

<div class="editor-label">
    @Model.Name
</div>

<div class="editor-field">
@if (Model.Collection != null)
{
    
    <select name="@Model.Name" style="width: 200px;" @readOnlyText>
        <option>--Seleccione--</option>
        @foreach (var item in @Model.Collection)
        {
            if (Model.Value != null && item.ID == Model.Value)
            {
                <option value="@item.ID" selected="selected">@item.Name</option>
            }
            else
            {
                <option value="@item.ID">@item.Name</option>       
            }
            
        }
    </select>
}else
{
    <input type="text" name="@Model.Name" value="@Model.Value" />    
}
</div>