@using System.Web.Optimization

@model BusinessManager.Models.RoleDataModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Crear Rol</h2>

@using ( Html.BeginForm(null, null, FormMethod.Post ,new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        
	<div class="editor-label">
	 @Html.LabelFor(model => model.Name)
	</div>
	<div class="editor-field">
	 @Html.EditorFor(model => model.Name, new { maxLength = 45 })
	 @Html.ValidationMessageFor(model => model.Name)
	</div>
	<div class="editor-label">
	 @Html.LabelFor(model => model.DateCreated)
	</div>
	<div class="editor-field">
	 @Html.DisplayFor(model => model.DateCreated, new { maxLength = 10})
	 @Html.ValidationMessageFor(model => model.DateCreated)
	</div>
	 @{ Html.RenderAction("ForeignKeyDisplay", "Admin", new { fieldName = "CreatedBy", fieldValue = @Model != null ? @Model.CreatedBy : 0, primaryTable = "User", readOnly = true }); }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @if (Session["ParentID"] != null)
    {
    @Html.ActionLink("Back to List", "Index", new { id = Convert.ToInt32(Session["roleParentID"]) })    
    }
    else
    {
    @Html.ActionLink("Back to List", "Index")
    }
</div>

@section scripts{ 

    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js") 
    @Scripts.Render("~/Scripts/jquery.fancybox.js")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
}

@section styles{ 
    @Styles.Render("~/Content/css/jquery.fancybox.css")
}